<form class="origin-form">
    <mat-form-field class="origin-full-width">
      <mat-label>From</mat-label>
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="originSelected($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.code}} - {{option.name}}, {{ option.country }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>