
<div class="row header">
    <div class="col-1"></div>
    <div class="col-1 header_brand">Flight Inspiration</div>
    <div class="col-2"></div>
    <div class="col-1">
        <div class="header_logout">
            <button mat-button color="primary" *ngIf="!isLoggedIn" (click)="login()" type="submit">
                Login</button>  
            <button mat-button color="primary" *ngIf="isLoggedIn" (click)="login()">
                Logout</button>
        </div>
        
    </div>
    <mat-divider></mat-divider>
</div>