<div class="row mt-30 search_form">
    <div class="col-1">
        <app-origin></app-origin>
    </div>
    <div class="col-1">
        <app-departure-date></app-departure-date>
    </div>
    <div class="col-1">
        <app-journey-type></app-journey-type>
    </div>
    <div class="col-1">
        <app-max-price></app-max-price>
    </div>
    <div class="col-1">
        <button mat-fab color="warn" aria-label="search" (click)="search()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
</div>